<h1>Profilo</h1>

<div class="card-body">
  <div class="form-group mt-3">
    <label class="form-label text-danger fw-bold">Nome</label>
    <input type="text" class="form-control mb-1" value="{{ user?.name }}" />
  </div>
  <div class="form-group mt-3">
    <label class="form-label text-danger fw-bold">Cognome</label>
    <input type="text" class="form-control" value="{{ user?.surname }}" />
  </div>
  <div class="form-group mt-3">
    <label class="form-label text-danger fw-bold">E-mail</label>
    <input type="text" class="form-control mb-1" value="{{ user?.email }}" />
  </div>

  <div class="container my-5">
    <h2>Lista Utenti loggati</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let u of users">
          <td>{{ u.name }}</td>
          <td>{{ u.email }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
