
body {
    font-family: "Open Sans", sans-serif;
    font-size: 1.2rem;
    line-height: 1.65;
    color:  #393d41;
    margin: 0;
}


/************ header **************/

header {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    line-height: 1.5;
}

.logo {
    background-color: black;
    margin: 0;
}

#logo {
    width: 180px;
    padding-top: 30px;
    padding-bottom: 30px;
}

h1 {
    color: #25a2c3;

}

#testata {
    background-image: url(./assets/banner.jpg) ;
    background-size: contain;
    padding: 50px 20px;
    margin-top: 0;
}

.partiamo {
    background-color: #f04c2f;
    color: white;
    width: 150px;
    border-radius: 4%;
    margin-left: 25%;
    padding: 5px 3px;

}

.part {
    text-decoration: none;
}

/************ fine header ****************/

/************inizio main ****************/

main {
    text-align: center;
}

h3 {
    color: #25a2c3;
}

#notebook {
    border-radius: 50%;
    width: 250px;
    height: 250px;
}

.scritte {
    margin: 0 10px;
}

.riquadro {
    background-color: #f04c2f;
    color: white;
    padding: 15px 10px;
}

.pc {
    width: 100%;
    margin-top: 20px;
    margin: 0;
}

.portatile {
    border:1px solid #dee1e3;
    border-radius: 3%;
    margin: 15px;
    padding-bottom: 10px;
    width: auto;
}

/**************fine main ****************/

/**************inizio footer ****************/

#footer {
    background-color: #25a2c3;
    color:white;
    text-align: center;
    padding: 20px 10px;
    margin-top: 80px;
}

hr {
    width: 200px;
}

a {
    color: #c8e7f0;
}

a:hover {
    color: red;
}

aside p {
    margin: auto;
}


/********** fine footer ****************/