<h1 class="text-center">Tutti i post</h1>
<div class="card my-2" *ngFor="let p of posts">
    <div
        class="card-body"
        [ngClass]="{
            'border border-primary border-4': p.active,
            'border border-none': !p.active
        }"
    >
        <h5 class="card-title">{{ p.title }}</h5>
        <p class="card-text">{{ p.body }}</p>
        <p class="btn btn-outline-secondary" appColora>{{ p.tags[0] }}</p>
        <p class="btn btn-outline-secondary mx-2" appColora>{{ p.tags[1] }}</p>
        <p class="btn btn-outline-secondary" appColora>{{ p.tags[2] }}</p>
        <form>
            <input
                type="text"
                class="form-control"
                name="modifica"
                placeholder="modifica"
                [(ngModel)]="p.body"
            />
        </form>
        <a [routerLink]="['/post', p.id]" class="btn btn-primary mt-3"
            >Dettagli</a
        >
    </div>
</div>
