<div class="container col-xxl-8 px-4 py-3">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img
        src="../../assets/image/1156_movie_classics_1200.jpg"
        class="d-block mx-lg-auto img-fluid"
        alt="Bootstrap Themes"
        loading="lazy"
      />
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold mb-5 bg-danger p-2">
        La raccolta di film più grande di sempre !!
      </h1>
      <h3>Iscriviti e guardali tutti</h3>
      <p class="lead">
        Scopri il mondo del cinema con Film per Tutti! Qui troverai una vasta
        selezione di film per ogni gusto e preferenza, dalle ultime uscite ai
        classici intramontabili. Il nostro obiettivo è offrirti una piattaforma
        accessibile e completa dove potrai esplorare, recensire e goderti i tuoi
        film preferiti. Sia che tu sia un appassionato di azione, un romantico
        incallito o un amante del cinema d'autore, Film per Tutti è il luogo
        perfetto per te. Unisciti alla nostra comunità e inizia subito la tua
        avventura cinematografica!
      </p>
    </div>
  </div>
</div>
