<div class="px-4 pt-4 bg-body-secondary">
  Benvenuti da Business. Situato nel cuore di Cagliari, Business è il vostro
  partner di fiducia per l'acquisto di auto nuove e usate di qualità. Con oltre
  20 anni di esperienza nel settore, offriamo una vasta gamma di veicoli delle
  migliori marche, garantendo sempre la massima trasparenza e professionalità.
  Il nostro team di esperti è sempre a vostra disposizione per consigliarvi e
  guidarvi nella scelta del veicolo più adatto alle vostre esigenze. Ogni auto
  nel nostro parco è accuratamente selezionata e sottoposta a rigorosi controlli
  per assicurarvi solo il meglio. Oltre alla vendita, offriamo servizi di
  finanziamento personalizzati, assistenza post-vendita con un’officina
  altamente qualificata e la possibilità di permutare il vostro usato. La
  soddisfazione del cliente è la nostra priorità assoluta e ci impegniamo ogni
  giorno per offrirvi un'esperienza di acquisto unica e senza stress. Venite a
  trovarci in Via Aroni 34 e scoprite perché Business è la scelta preferita da
  migliaia di automobilisti. Vi aspettiamo per un test drive e per farvi
  scoprire le nostre imperdibili offerte! Business - Dove la qualità e la
  fiducia incontrano la strada.
</div>
<div class="container-fluid bg-body-secondary pb-3 pt-1 px-3">
  <div class="row mt-5">
    <div class="col-12 d-flex justify-content-center">
      <ul class="d-flex align-items-center">
        <li
          class="list-unstyled mx-5"
          *ngFor="let uniqueBrandLogo of uniqueBrandLogos"
        >
          <img src="{{ uniqueBrandLogo }}" alt="" style="width: 10em" />
        </li>
      </ul>
    </div>
  </div>
  <div class="text-center fs-1 fst-italic">Ultimi arrivi</div>
  <div class="row mt-4 text-center">
    <div class="col-6" *ngFor="let randomAuto of randomAutos">
      <div
        class="card h-100"
        [ngClass]="{
          'border border-success border-4': randomAuto.available,
          'border border-danger border-5': !randomAuto.available
        }"
      >
        <img
          src="{{ randomAuto.modelImage }}"
          class="card-img-top img-fluid h-100"
          alt="imgAuto"
        />
        <div class="card-body">
          <h5 class="card-title text-center">
            {{ randomAuto.brand }} {{ randomAuto.model }}
          </h5>
          <p class="card-text text-center fs-3">
            Anno di uscita: {{ randomAuto.year }}
          </p>
          <p class="card-text fs-3 text-center">
            Prezzo: {{ randomAuto.price }} €
          </p>
          <a
            routerLink="/{{ randomAuto.brand.toLowerCase() }}"
            class="btn btn-primary"
          >
            Tutte le nostre {{ randomAuto.brand }}</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
