<nav class="navbar navbar-expand-lg navbar-dark bg-black">
  <div class="container-fluid">
    <img src="../../../assets/img/logo.jpg" class="img-fluid w-25" />
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse ms-4">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link fs-3" routerLink="/" routerLinkActive="active"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link fs-3" routerLink="/fiat" routerLinkActive="active"
            >Fiat</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link fs-3" routerLink="/ford" routerLinkActive="active"
            >Ford</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link fs-3" routerLink="/audi" routerLinkActive="active"
            >Audi</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
