<div class="container-fluid text-bg-dark">
  <footer class="py-3 px-5 mt-4">
    <ul class="nav justify-content-around border-bottom pb-3 mb-3">
      <li class="nav-item">
        <a class="nav-link px-2 text-white">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link px-2 text-white">Marchi</a>
      </li>
      <li class="nav-item">
        <a class="nav-link px-2 text-white">Finanziamenti</a>
      </li>
      <li class="nav-item">
        <a class="nav-link px-2 text-white">FAQs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link px-2 text-white">Assistenza</a>
      </li>
    </ul>
    <p class="text-center text-white">© 2024 Company, Inc</p>
  </footer>
</div>
