#logo {
  width: 8em;
}
#rigth-bar {
  width: 10em;
}

#navbar {
  background-color: black !important;
}

#logo_paypal {
  width: 3em;
  margin: 0 0.5em;
}

.titoli {
  color: #808080b3;
}

a {
  text-decoration: none !important;
}

#icon-profil {
  width: 1.8em;
}

#hd {
  font-size: 0.9em;
  height: 1.2em;
  margin-top: 0.4em;
}

#cancel {
  border: none;
  background-color: #80808054;
  font-size: 0.8em;
  width: 75%;
  padding: 0.5em 0;
}
