

@mixin floating {
    border-radius: 20px;
    box-shadow: 5px 10px 5px black;
    border: 1px solid white;
    position: relative;
    top: 4em;
    width: 30em;
    margin: auto 2em;
  }
  
  @mixin grid {
    display: flex;
  }