#avatar {
  width: 7em;
  height: 7em;
}
#lingua {
  background-color: black !important;
}
#title {
  margin-left: 10em;
}

#tasti {
  width: 38%;
  margin-left: 32%;
  padding-top: 2em;
}

#subtitle {
  font-size: small;
  margin-top: 1em;
}

#check1 {
  width: 1.5em;
  height: 1.5em;
  border-radius: 0%;
}

#check2 {
  width: 1.5em;
  height: 1.5em;
  border-radius: 0%;
}

.info-check {
  font-size: small;
}
#tast1:hover {
  background-color: white;
  color: black;
  font-weight: 700;
}

#tast2:hover {
  background-color: white;
  color: black;
  font-weight: 700;
}
#tast3:hover {
  background-color: white;
  color: black;
  font-weight: 700;
}

#pencil {
  position: relative;
  top: 85px;
  right: 105px;
}

button {
  border-radius: 0% !important;
}
